.child {
    width: 750px;
    height: 500px;
    background-color:rgb(12, 150, 224);
    /* Center horizontally*/
    margin: 0 auto;
    display: flex;
  }
  .header{
    background-color: black;
    color: aliceblue;
    align-items: center;
    width: 750px;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: sans-serif;
    justify-self: center;
    display: flex;
    justify-content: center;
    position: absolute;
  }
  .content{
    background-color: orange;
    margin-top: 100px;
    text-align: center;
    position: absolute;
    height: 350px;
    left:40%;
    width:350px;
    color: purple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    

  }
  p{
    position: absolute;
    font-family: sans-serif;
    color: aliceblue;
    left: 10%;
    
  }
  .result{
    font-family: sans-serif;
    color: aliceblue;
    background-color: orange;
    margin-left: 435px;
    margin-top: 158px;
    position: absolute;

  }